@media(max-width: 1024px){
    .left-logo {
        transform: rotate(-90deg);
    }
}

@media(max-width: 991px){
    .left-logo {
        padding: 2px !important;
    }
}

@media(max-width: 767px) {
    .left-logo{
        display: none;
    }
    
}

@media(max-width: 574px){
    .login-form {
        width: 90% ;
    }
}

@media(max-width: 320px){
    
}


    
